@font-face {
    font-family: 'Helvetica Neue Light';
    src: url('../fonts/HelveticaNeue-Light.otf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue Bold';
    src: url('../fonts/HelveticaNeue-Bold.otf');
    font-weight: normal;
    font-style: normal;
}

* {
  -webkit-tap-highlight-color: transparent !important;
}

.fade-in {
  opacity: 0;
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

.news {
    font-family: 'Helvetica Neue Light', sans-serif;
    margin-top: 100px;
    padding: 0vh 6vw;
    min-width: 320px;
    letter-spacing: normal;
}

.news-title,
.footer-links {
    font-family: 'Helvetica Neue Light', sans-serif;
    letter-spacing: normal;
}

.news-title span {
    color: #9c9c9c;
    letter-spacing: normal;
}

.news-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    row-gap: 50px;
}

.news-card-image {
    width: 100%;  
    height: auto; 
    overflow: hidden;
}

.news-card-image img {
    width: 100%;
    height: auto; 
    object-fit: cover; 
}

.news-card-data {
    font-size: 20px;
    padding: 0;
    margin: 0;
    padding-top: 10px;
    letter-spacing: normal;
}

.news-card-title {
    font-size: 34px;
    padding: 20px 0px;
    margin: 0;
    letter-spacing: normal;
}

.news-card-desc {
    font-size: 25px;
    color: #707070;
    padding: 0;
    margin: 0;
    letter-spacing: normal;
}

/* Адаптив страницы "news.html"*/

@media (max-width: 1100px) {
    .news-card-data {
        font-size: 16px;
    }

    .news-card-title {
        font-size: 24px;
    }
    .news-card-desc {
        font-size: 20px;
    }
}

@media (max-width: 700px) {
    .news-cards {
        grid-template-columns: 1fr;
    }

    .news-card-title {
        padding: 15px 0px;
    }
}

@media (max-width: 500px) {
    .news-card-data {
        font-size: 14px;
    }

    .news-card-title {
        font-size: 20px;
    }

    .news-card-desc {
        font-size: 16px;
    }
}

/* Страница "news-info.html" */

.news-info {
    font-family: 'Helvetica Neue Light', sans-serif;
    margin-top: 100px;
    padding: 0vh 6vw;
    min-width: 320px;
    letter-spacing: normal;
}

.news-info-desc {
    font-size: 30px;
}

.news-image {
    width: 100%;  
    height: auto; 
    overflow: hidden;
}

.news-image img {
    width: 100%;
    height: auto; 
    object-fit: cover; 
}

.news-content {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.news-content video {
    border-radius: 20px;
}

.news-pagination {
    margin-top: 50px;
    min-width: 320px;
    gap: 20px;
}

.news-pagination-title {
    font-family: 'Helvetica Neue Light', sans-serif !important;
    letter-spacing: normal !important;
}

.news-info-text-container {
    border-bottom: 1px solid #707070;
    padding: 10px 0px;
}

.news-info-text-container:last-child {
    border-bottom: none;
}

.news-info-text-container:first-child {
    border-top: 1px solid #707070;
}

.news-info-text-title {
    font-weight: bold;
}

.news-info-text-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.news-info-text-subtitle {
    font-weight: bold;
    font-size: 24px;
}

/* Адаптив страницы "news-info.html" */

@media (max-width: 1100px) {
    .news-info-desc {
        font-size: 24px;
    }

    .news-info-text-subtitle {
        font-size: 20px;
    }

    .news-info-data {
        font-size: 20px;
    }
}

@media (max-width: 1024px) {
    .news-info {
        margin-top: 170px;
    }
}

@media (max-width: 767px) {
    .news-title {
        font-size: 40px;
    }

    .item-pagination-title {
        font-size: 18px !important;
    }

    .item-pagination-link--next .item-pagination-icon {
        padding-left: 15px;
    }

    .item-pagination-link .item-pagination-icon {
        padding-right: 15px;
    }
}

@media (max-width: 700px) {
    .news-info {
        margin-top: 130px;
    }

    .news-info-desc {
        font-size: 20px;
    }

    .news-info-text-subtitle {
        font-size: 18px;
    }
}

.header-nav-item a {
    font-family: 'Helvetica Neue Light', sans-serif !important;
    font-weight: 600 !important;
    text-transform: uppercase;
}